
<div class="container">
  <div class="footer">
    <div class="row">

      <!-- logo, redes sociales y bandera -->
      <div class=" logo col-lg-3 col-md-6 col-sm-12">
        <div class="logo-footer">
          <img src="/assets/L_invovle.svg" alt="" class="l_footer">
        </div>
        <div class="redes-sociales ">
          <p>Tecnología que Revoluciona el Talento</p>
          <div class="redes-socialees-icons d-flex justify-content-around">
            <a href="https://www.facebook.com/Involve.rh/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCJinobYf1JNhAxzjBESIEyA"><i class="bi bi-youtube"></i></a>
            <a href="https://open.spotify.com/show/7EXEoa6tbuMfcRlVGybxf4?si=57cb5f238c864704&nd=1"><i class="bi bi-spotify"></i></a>
            <a href="https://www.tiktok.com/@involve.rh?lang=es"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.instagram.com/involve.rh/"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/InvolveRh"><i class="bi bi-twitter"></i></a>
          </div>
      </div>
      <div class="flag " >
        <img src="/assets/mex.png" alt="mex" class="mex-flag"> mexico
      </div>
    </div>


      <!-- Bolsa -->
      <div class="col-lg-4 col-md-6 col-sm-12 bolsa">
        <p>Busco Empleo</p>
        <p>Busco Talento</p>
        <p>Preguntas Frecuentes - candidato</p>
        <p>Preguntas Frecuentes - reclutador</p>
        <p>Blog</p>
      </div>

      <!-- newsletter -->
      <div class="col-lg-4 col-md-6 col-sm-12 newsletter">
        <h3>Suscríbete a nuestro newsletter:</h3>
      <p>Mantente actualizado con el contenido más relevante y actual.</p>
      <input type="text" class="input-newsletter col-12" placeholder="ingresa tu correo electronico">
      <br>
      <button class="btn btn-dark btn-newsletter col-6">Enviar</button>
      </div>


    </div>
  </div>
<!-- terminos y condiciones -->
  <div class="termscoditions row d-flex justify-content-around ">
    <div class="version  col-lg-3 col-md-6 col-sm-6">Involve © Todos los derechos reservados | V1.0.7</div>
    <div class="terminos col-lg-3 col-md-6 col-sm-6">Términos y condiciones</div>
    <div class="terminos col-lg-3 col-md-6 col-sm-6">Aviso de privacidad</div>
    <div class="terminos col-lg-3 col-md-6 col-sm-6">Política de cookies</div>
  </div>
</div>

