<div class="container">
  <h1>AVISO DE PRIVACIDAD BOLSA DE EMPLEO INVOLVE S.A DE C.V.</h1>
<p>Este Aviso de Privacidad tiene por objeto proporcionarle una visión clara de cómo usamos los datos personales que el titular de datos personales (en adelante “Usted”) nos proporciona, nuestros esfuerzos por protegerlos, las opciones que tiene para controlar sus datos personales y proteger su privacidad. Asimismo, describe qué tipo de datos personales recopilamos sobre usted cuando visita la Bolsa de empleo en nuestro sitio web “INVOLVE”.</p>
<p>La forma en que utilizamos sus datos personales y los terceros con los que la compartiremos. Utilizamos los datos personales que comparte con nosotros, para hacer que tanto nuestros servicios como su experiencia sean cada vez mejores.</p>
<p>En cumplimiento con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento (en lo sucesivo, la “Ley de Datos”), así como de conformidad con los Lineamientos del Aviso de Privacidad publicados en el Diario Oficial de la Federación el 17 de enero de 2013, se informa lo siguiente:</p>
<ol type="I" class="ol-principal">
  <li>IDENTIDAD Y DOMICILIO DEL RESPONSABLE:</li>
  <p>El responsable del tratamiento de sus datos personales, en este caso es INVOLVE, S.A. de C.V. (en lo sucesivo “INVOLVE”), quien cuenta con un Comité de Privacidad como departamento responsable de la protección de sus datos personales. Para todo lo relativo a este aviso de privacidad, favor de contactarnos al correo electrónico: (proteccióndatosmx@involve.com), a los teléfonos (55) 50253666 y (55) 36037947, o bien al domicilio de INVOLVE de México ubicado en: Calle Río Lerma 196 BIS Torre B piso 4 Interior. 403, Colonia Cuauhtémoc. Ciudad de México C.P. 06500 (en lo sucesivo la “Persona de Contacto”).</p>
  <p>La información de contacto proporcionada anteriormente es de uso exclusivo para el tratamiento de datos. Temas relacionados con INVOLVERH, favor de comunicarse a los datos de contacto establecidos en los Términos y Condiciones de INVOLVE de México</p>
  <li>DATOS PERSONALES QUE SERÁN TRATADOS POR EL RESPONSABLE:</li>
  <ol type="A" class="ol-second">
    <li>DATOS PERSONALES OBTENIDOS DIRECTAMENTE DE USTED.</li>
    <p>La información que recopilamos acerca de Usted serán datos personales que nos ha proporcionado a través de nuestros sitios Web y App. Los datos personales tratados son los que a continuación se indican:</p>
    <ol type="1" class="ol-tree">
      <li> Datos personales</li>
      <ul class="ul-forh">
        <li>Nombre</li>
        <li>Apellidos</li>
        <li>Nombre de la empresa</li>
        <li>Correos electrónico (Email)</li>
        <li>Teléfono</li>
        <li>Número de empleados</li>
        <li>Cargo en la empresa</li>
      </ul>
    </ol>
  </ol>
  <li>DATOS PERSONALES SENSIBLES</li>
    <p>Se hace de su conocimiento que INVOLVE de México, no trata datos sensibles a través en su Bolsa de Empleo en página web ni la App señalada anteriormente.    </p>
  <li> FINES CON LOS QUE UTILIZAREMOS SUS DATOS PERSONALES</li>
  <p>Los datos personales que recopila INVOLVE cuando se registra por primera vez se utilizarán para fines de identificación y autenticación en todos los INVOLVE, por lo que puede utilizar los mismos datos de cuenta para iniciar sesión desde cualquier lugar del mundo y dispositivo. Utilizamos y analizamos esta información personal para los demás fines que se detallan a continuación:</p>
  <li> CÓMO COMPARTIMOS SUS DATOS PERSONALES</li>
  <p>Habrá ocasiones en las que necesitemos transferir sus datos personales de <strong>manera digital a través de la plataforma y el registro de correo asignado por el usuario.</strong></p>
  <li>MEDIOS PARA EJERCER LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN (“DERECHOS ARCO”).</li>
  <p>De conformidad con la Ley de Datos, Usted tiene el derecho de acceder a los datos que posee INVOLVE y a los detalles del tratamiento de estos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos en los términos de la Ley de Datos u oponerse al tratamiento de estos para fines específicos. Para ejercer los Derechos ARCO, Usted o su representante legal deberán elaborar la "Solicitud Ejercicio de los Derechos ARCO" y enviarla escaneada al correo electrónico: <strong class="legal-email">(legal@involverh.com)</strong> a la atención de la Persona de Contacto, para su atención y seguimiento. Es importante que considere los siguientes puntos al momento de enviar o entregar su solicitud:</p>
  <ul class="ul-5">
    <li>La solicitud deberá llenarse en todos sus campos claramente y con letra de molde.</li>
    <li>Indicar su nombre, domicilio y correo electrónico para poder comunicarle la respuesta a su solicitud.</li>
    <li>Indicar los datos personales respecto de los que se busca ejercer alguno de los derechos.</li>
    <li>Anexar cualquier documento o información que facilite la localización de sus datos personales.</li>
    <li>Anexar copia del documento que acredite su identidad (credencial de elector, cédula profesional o pasaporte vigente).</li>
  </ul>
  <p>Si la solicitud se tramita a través de un representante legal, incluir el poder notarial en el que conste la facultad otorgada por Usted para este trámite, o bien, una carta poder otorgada por Usted con la firma de aceptación del apoderado, ante la presencia de dos testigos, debiendo incluir el nombre, firma, domicilio y copia fotostática de la identificación oficial de cada uno de los firmantes.</p>
  <p>Para el caso de rectificación de datos, adjuntar la documentación que acredite dicha modificación.</p>
  <p>Una vez que el Usted haya presentado su solicitud al responsable, le sugerimos enviar un correo electrónico de seguimiento a: <strong class="legal-email">(legal@involverh.com)</strong>.</p>
  <p>INVOLVE, bajo los supuestos establecidos en el artículo 34 de la Ley de Datos, podrá negar el acceso a los datos personales, o a realizar la rectificación o cancelación o a conceder la oposición al tratamiento de estos. Asimismo, bajo los supuestos establecidos en el artículo 26 de la Ley de Datos, INVOLVE no estará obligada a cancelar sus datos personales.</p>
  <p>INVOLVE dará respuesta a dicha solicitud en un plazo no mayor a 30 días por el mismo medio por el cual Usted haya realizado su solicitud, por medio de copias simples o electrónicamente, según sea el caso. En caso de que su solicitud se conteste de manera afirmativa o procedente, los cambios solicitados se harán en un plazo máximo de 20 días hábiles. En caso de que Usted solicite el acceso a sus datos personales, el Responsable le informará mediante el correo electrónico en el que comuniquemos nuestra respuesta a su solicitud, el medio por el cual se le dará acceso a su información en caso de ser procedente. El Responsable podrá ampliar los plazos referidos en este párrafo, por una sola vez, por un periodo igual al original, lo cual le será informado.</p>
  <p>Puede escribirnos en cualquier momento para solicitar modificaciones de cierta información personal que considere que es incorrecta o irrelevante, así como para solicitar que bloqueemos, borremos o eliminemos su información personal. Actualizaremos, bloquearemos, borraremos o eliminaremos su información personal previa petición de acuerdo con la legislación aplicable. En caso de que INVOLVE niegue el ejercicio de cualquiera de los derechos de acceso, rectificación, cancelación u oposición otorgados por la Ley de Datos, su Reglamento o los Lineamientos, INVOLVE deberá de justificar dicha negativa, teniendo Usted el derecho para solicitar el inicio del procedimiento de protección de derechos ante el Instituto Federal de Acceso a la Información y Protección de Datos establecido por el Capítulo VII de la Ley de Datos.</p>
  <li>MEDIOS PARA REVOCAR EL CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES</li>
  <p>Para limitar el uso o divulgación de sus datos personales, Usted deberá solicitarlo mediante solicitud debidamente firmada, presentada ya sea en el domicilio del responsable o vía electrónica, dirigido a la Persona de Contacto del tratamiento de datos personales, solicitando la limitación del uso o divulgación de que se trate. Sin embargo, si Usted limita el uso o divulgación que INVOLVE puede dar a sus datos personales, es posible que INVOLVE no pueda brindarle las prestaciones y beneficios a los que de otra forma tendría acceso. INVOLVE podrá tomar las medidas que estime conducentes en caso de que su limitación del uso o divulgación de los datos interrumpa o en cualquier manera afecte los procesos y prácticas de INVOLVE.</p>
  <li>¿CÓMO PROTEGEMOS SU INFORMACIÓN PERSONAL?</li>
  <p>Nos comprometemos a proteger su información personal y poner en práctica medidas de seguridad administrativas, técnicas y físicas adecuadas para protegerla contra todo tratamiento no autorizado o ilegal y contra cualquier pérdida, destrucción o daño accidentales. Estas medidas incluyen políticas, procedimientos, capacitación a empleados, control de accesos físicos y elementos técnicos relacionados con los controles de acceso a la información.</p>
  <p>En caso de que ocurra una vulneración de seguridad en cualquier fase del tratamiento de sus datos personales, que afecte de forma significativa sus derechos patrimoniales o morales, la Persona de Contacto le comunicará de forma inmediata por correo electrónico para que el Usted pueda tomar las medidas necesarias correspondientes para la defensa de sus derechos.</p>
  <li>PROCEDIMIENTO Y MEDIO POR EL CUAL EL RESPONSABLE COMUNICARÁ A USTED LOS CAMBIOS AL AVISO DE PRIVACIDAD.</li>
  <p>INVOLVE se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de reformas legislativas o jurisprudenciales, políticas internas, o nuevos requerimientos, siendo la versión actualizada que haya sido publicada, la aplicable en todo momento. Estas modificaciones estarán disponibles al público a través de nuestra página de Internet www.involverh.com en el apartado Aviso de privacidad, o en su caso se podrán enviar al último correo electrónico o, en su caso, domicilio, que nos haya proporcionado.</p>
  <p>En caso de que INVOLVE cambie su identidad, requiera recabar datos personales patrimoniales o financieros adicionales, cambie las finalidades para la obtención de sus datos personales o modifique las condiciones de las transferencias que se puedan efectuar bajo lo establecido por el presente Aviso de Privacidad, se pondrá a su disposición un nuevo aviso de privacidad. Cuando comunicamos o compartimos información con terceros, requerimos y verificamos que cuenten con las medidas de seguridad necesarias para proteger sus datos personales, prohibiendo el uso de su información personal para fines distintos a los establecidos en el presente Aviso de Privacidad.</p>
  <p>Reconozco que he leído y entiendo el alcance y significado del presente aviso a lo cual manifiesto mi consentimiento, así como de los mecanismos que la Ley de Datos, su Reglamento, los Lineamientos y el presente Aviso de Privacidad me confieren para el ejercicio de mis derechos de acceso, rectificación, cancelación y oposición, así como de la limitación del uso, transferencia y divulgación de mis datos que pueda realizar INVOLVE, S.A. de C.V.</p>
</ol>













</div>
